################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Stream/.vs/Stream/v16
/Stream/bin/x64
/Stream/obj
/Stream/Release
/Stream/x64
